.about .img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
  }
  
  .about .img-container img {
    max-width: 90%;
    border-radius: 10px;
    border: 1px solid #333;
  }
  